@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: 'Roboto', sans-serif; /**/
    margin: 0; /* Moving tag is 0*/
    padding: 0; /* Spacing is 0*/
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    background-color: #E6E6FA;
    width: 100%;
    position: fixed; /*fixing the header*/
    z-index: 999; /*the header stay appeared while moving through the page */
    display: flex;
    justify-content: space-between; /* space between logo and navigation*/
    align-items: center;
    padding: 10px 200px;/*10px for top and bottom 200px for left and right*/
}
.logo{
    text-decoration: none; /*removing the underline text*/
    color: #4682B4;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5em;
}
.Navigation a{
    color: #4682B4;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.0em;
    padding-left: 20px;
}
.Navigation a:hover{
    color: 	#c852cc;
}