@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: 'Roboto', sans-serif; /**/
    margin: 0; /* Moving tag is 0*/
    padding: 0; /* Spacing is 0*/
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    background-color: #5F9EA0	;
    width: 100%;
    position: fixed; /*fixing the header*/
    z-index: 999; /*the header stay appeared while moving through the page */
    display: flex;
    justify-content: space-between; /* space between logo and navigation*/
    align-items: center;
    padding: 10px 200px;/*10px for top and bottom 200px for left and right*/
}
.logo{
    text-decoration: none; /*removing the underline text*/
    color: #D8BFD8;
    font-weight: 600;
    font-size: 1.5em;
}
.Navigation a{
    color: #D8BFD8;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.0em;
    padding-left: 20px;
}
.Navigation a:hover{
    color: 	#483D8B; /* the color changes when */
}
section{
   padding: 100px 200px; 
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: #E6E6FA;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main h2{
    color: #778899	;
    font-size: 1.8em;
    font-weight: 500;
}
.main p{
    color: #778899;
    font-size: 1.5em;
    justify-content:left ;
}
.main img {
    margin: 10px 300px;
}
/* @font-face {
    font-family: "chathurabold";
    src: url("../font/chathura_bold_macroman/chachathura-bold-webfont.eot");
    font-weight: normal;
    font-style: normal;
} */